<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2023 GT Logistics.
  -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
  <testsuites>
    <testsuite name="Feature">
      <directory>test/Feature</directory>
    </testsuite>
  </testsuites>

  <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
    <include>
      <directory>src</directory>
    </include>
  </source>

  <php>
    <env name="EDI_FTP_HOST" value="example.org"/>
    <env name="EDI_FTP_PORT" value="2121"/>
    <env name="EDI_FTP_USERNAME" value="user"/>
    <env name="EDI_FTP_PASSWORD" value="pass"/>
    <env name="EDI_FTP_INPUT_DIR" value="/to"/>
    <env name="EDI_FTP_OUTPUT_DIR" value="/from"/>
  </php>
</phpunit>
